# Ignore Gradle project-specific cache directory
.gradle
.DS_Store
bin/
buildOutputCleanup
*.hprof
.vscode
.project
.settings
.classpath
sharedstore
storagePath
teststorage
floodplain-dsl/teststorage
jacocoReport/
lsp
mongodata/
# Topology files:
topology.txt

# Ignore Gradle build output directory
build
