# Ignore Gradle project-specific cache directory
.gradle
.DS_Store
bin/
com.dexels.navajo.core/sharedstore
buildOutputCleanup
.vscode
.project
.settings
.classpath
sharedstore

# Ignore Gradle build output directory
build
