# Ignore Gradle project-specific cache directory
.gradle
.DS_Store
bin/
buildOutputCleanup
.vscode
.project
.settings
.classpath
sharedstore
storagePath
teststorage
floodplain-dsl/teststorage
lsp

# Ignore Gradle build output directory
build
