<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="bndtools.launch">
<booleanAttribute key="clean" value="true"/>
<booleanAttribute key="dynamicBundles" value="false"/>
<stringAttribute key="launchTarget" value="com.dexels.appstore.server/appstore.bndrun"/>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="CLUSTER" value="development_${env_var:USER}${env_var:USERNAME}"/>
<mapEntry key="CLUSTER_USE_DEFAULT_CLASSLOADER" value="true"/>
<mapEntry key="FILE_REPOSITORY_DEPLOYMENT" value="test"/>
<mapEntry key="FILE_REPOSITORY_PATH" value="/Users/frank/git/com.sportlink.club"/>
<mapEntry key="FILE_REPOSITORY_TYPE" value="webstart"/>
<mapEntry key="FILE_REPOSITORY_MONITORED" value="tipi,resource,settings"/>
<mapEntry key="GIT_REPOSITORY_BRANCH" value="test-getdown"/>
<mapEntry key="GIT_REPOSITORY_FILEINSTALL" value="etc,etc-club,etc-dev-eclipse"/>
<mapEntry key="GIT_REPOSITORY_GITHUB" value="true"/>
<mapEntry key="GIT_REPOSITORY_OUTPUT" value="${workspace_loc}/storage_appstore/someoutput"/>
<mapEntry key="GIT_REPOSITORY_STORAGE" value="${workspace_loc}/storage_appstore"/>
<mapEntry key="GIT_REPOSITORY_TEMP" value="${workspace_loc}/storage_appstore/sometemp"/>
<mapEntry key="GIT_REPOSITORY_TOKEN" value=""/>
<mapEntry key="GIT_REPOSITORY_TYPE" value="generic"/>
<mapEntry key="GIT_REPOSITORY_URL" value="git@github.com:Dexels/club-deploy.git"/>
<mapEntry key="TIPI_STORE_AUTHORIZE" value="false"/>
<mapEntry key="TIPI_STORE_CODEBASE" value="http://localhost:8080"/>
<mapEntry key="TIPI_STORE_MANIFESTCODEBASE" value="http://localhost:8080"/>
</mapAttribute>
<stringAttribute key="org.eclipse.debug.core.source_locator_id" value="org.bndtools.core.launch.BndDependencySourceLookupDirector"/>
<stringAttribute key="org.eclipse.debug.core.source_locator_memento" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;sourceLookupDirector&gt;&#10;&lt;sourceContainers duplicates=&quot;false&quot;&gt;&#10;&lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot; standalone=&amp;quot;no&amp;quot;?&amp;gt;&amp;#10;&amp;lt;default/&amp;gt;&amp;#10;&quot; typeId=&quot;org.eclipse.debug.core.containerType.default&quot;/&gt;&#10;&lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot; standalone=&amp;quot;no&amp;quot;?&amp;gt;&amp;#10;&amp;lt;bnd/&amp;gt;&amp;#10;&quot; typeId=&quot;org.bndtools.core.launch.sourceContainerTypes.bndDependencies&quot;/&gt;&#10;&lt;/sourceContainers&gt;&#10;&lt;/sourceLookupDirector&gt;&#10;"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.dexels.appstore.server"/>
<booleanAttribute key="trace" value="false"/>
</launchConfiguration>
