<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="bndtools.launch">
    <booleanAttribute key="clean" value="true"/>
    <booleanAttribute key="dynamicBundles" value="true"/>
    <stringAttribute key="launchTarget" value="com.dexels.hazelcast/hazelcast.bndrun"/>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="CLUSTER" value="development_${env_var:USER}"/>
        <mapEntry key="CLUSTER_PORT" value="5701"/>
        <mapEntry key="CLUSTER_USE_DEFAULT_CLASSLOADER" value="true"/>
        <mapEntry key="HAZELCAST_SIMPLE" value="true"/>
        <mapEntry key="HOSTIP" value="127.0.0.1"/>
        <mapEntry key="HOSTNAME" value="localhost"/>
        <mapEntry key="INSTANCENAME" value="test-dev"/>
        <mapEntry key="SELF_DESTRUCT" value="hellyeah"/>
    </mapAttribute>
    <stringAttribute key="org.eclipse.debug.core.source_locator_id" value="org.bndtools.core.launch.BndDependencySourceLookupDirector"/>
    <stringAttribute key="org.eclipse.debug.core.source_locator_memento" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;sourceLookupDirector&gt;&#10;&lt;sourceContainers duplicates=&quot;false&quot;&gt;&#10;&lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot; standalone=&amp;quot;no&amp;quot;?&amp;gt;&amp;#10;&amp;lt;default/&amp;gt;&amp;#10;&quot; typeId=&quot;org.eclipse.debug.core.containerType.default&quot;/&gt;&#10;&lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot; standalone=&amp;quot;no&amp;quot;?&amp;gt;&amp;#10;&amp;lt;default/&amp;gt;&amp;#10;&quot; typeId=&quot;org.bndtools.core.launch.sourceContainerTypes.bndDependencies&quot;/&gt;&#10;&lt;/sourceContainers&gt;&#10;&lt;/sourceLookupDirector&gt;&#10;"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.dexels.hazelcast"/>
    <booleanAttribute key="trace" value="false"/>
</launchConfiguration>
