<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="bndtools.launch">
<stringAttribute key="bad_container_name" value="monitor"/>
<booleanAttribute key="clean" value="true"/>
<booleanAttribute key="dynamicBundles" value="true"/>
<stringAttribute key="launchTarget" value="com.dexels.monitor.rackermon/monitor.bndrun"/>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="CLUSTER" value="testdev"/>
<mapEntry key="CLUSTER_USE_DEFAULT_CLASSLOADER" value="true"/>
<mapEntry key="HAZELCAST_SIMPLE" value="true"/>
<mapEntry key="INSTANCENAME" value="example"/>
<mapEntry key="NAMESPACE" value="test"/>
</mapAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.dexels.monitor.rackermon"/>
<booleanAttribute key="trace" value="false"/>
</launchConfiguration>
