.alerts {
	font-size: 10px;
}
.plus {
	font-weight: bold;
	color: #656565;
	text-decoration: none;
	display: inline;
}

.rbutton {
	z-index:100;
}

.monitor-btn {
	float: right
}

.column {
    float: left;
    width: auto;
}

.column-50 {
    float: left;
    width: 50%;
}

.column-45 {
    float: left;
    width: 45%;
}

.column-10 {
    float: left;
    width: 10%;
}

.column-30 {
    float: left;
    width: 30%;
}

.column-60 {
    float: left;
    width: 60%;
}

.column-40 {
    float: left;
    width: 40%;
}

.column-25 {
    float: left;
    width: 25%;
}

.column-25 {
    float: left;
    width: 33%;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

ul { padding-left: 20px}

li { cursor: pointer;font-size: 10pt; }

.Server0 {
	font-weight: normal;
	color: #4bc548;
}

.Server1 {
	color: #e2e753;
	font-weight: bold;
	text-decoration: none;
}

.Server2 {
	color: #c82617;
	font-weight: bolder;
	text-decoration: none;
}

.Cluster0 {
	color: #4bc548;
	font-weight: normal;
	text-decoration: none;
}

.Cluster1 {
	color: #e2e753;
	font-weight: bold;
	text-decoration: none;
}

.Cluster2 {
	color: #c82617;
	font-weight: bold;
	text-decoration: none;
}

.Group0 {
	color: #4bc548;
	font-weight: normal;
	text-decoration: none;
}

.Group1 {
	color: #e2e753;
	font-weight: bold;
	text-decoration: none;
}

.Group2 {
	color: #c82617;
	font-weight: bold;
	text-decoration: none;
}

.CheckResult0 {
	color: #4bc548;
	font-weight: normal;
	text-decoration: none;
	font-size: 9pt;
}

.CheckResult1 {
	color: #e2e753;
	font-weight: bold;
	text-decoration: none;
	font-size: 10pt;
}

.CheckResult2 {
	color: #c82617;
	font-weight: bold;
	text-decoration: none;
	font-size: 10pt;
}

.faketabs {
    width: 100%;
    max-width: 400px;
    display: table;
    table-layout: fixed;
    text-align: center;
    margin: auto;
}

.faketab {
	display: table-cell;
	 cursor: pointer;
}

.deletegeneration {
	background-image: url('/img/delete.png');
	background-repeat: no-repeat;
	background-position: 100px 50%;
	height: 29px;
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}