body {
	margin: 0
}

#topBar {
	position: relative;
	margin: 0 auto;
	width: 75%;
	height: 10%;
	background-color: #002553;
}

#content {
	position: absolute;
	display: block;
	margin: auto;
	width: 75%;
	background: #ffffff none repeat scroll 0 0;
	box-shadow: 0 5px 20px #000000;
	left: 0;
	right: 0;
	/*height: 80%;*/
}

#header {
	color: #003366;
	box-sizing: border-box;
	font-size: 2.6rem;
	font-weight: 300;
	letter-spacing: -1px;
	line-height: 3.6rem;
	font-family: "Exo 2", "Helvetica Neue", Helvetica, sans-serif;
	font-style: normal;
	tendering: optimizelegibility;
	text-align: center;
}

#status {
	color: #000000;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: 200;
	line-height: 36px;
	text-align: center;
	font-family: "Exo 2", "Helvetica Neue", Helvetica, sans-serif;
	font-style: normal;
}

a {
	color: #000000;
	box-sizing: border-box;
	font-size: 24px;
	font-weight: 200;
	line-height: 36px;
	text-align: center;
	font-family: "Exo 2", "Helvetica Neue", Helvetica, sans-serif;
	font-style: normal;
	text-decoration: underline;
	font-weight: bold;
}

img.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}

.statustable {
	border-collapse: collapse;
}
.statustable tr td:first-child   {
	width: 150px;
	height: 30px;
	border-right: 1px solid 
}
	


.statustable tr td {
	width: 80px;
	height: 30px;
} 



.problem  {
	background-image: url('http://www.google.com/appsstatus/gwtapp/yellow_circle.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 29px;
}


.noproblem {
	background-image: url('http://www.google.com/appsstatus/gwtapp/green_circle.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 29px;
}

.statusOK:before {
	content: url('http://www.google.com/appsstatus/gwtapp/green_circle.png');
	height: 30px;
	width: 30px;
}

.statusservicedelay {
	background-image: url('http://www.google.com/appsstatus/gwtapp/yellow_circle.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 29px;
}

.statusserviceunavailable {
	background-image: url('http://www.google.com/appsstatus/gwtapp/red_circle.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 29px;
}

.uptimeheader {
	width: 200px;
}
