<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="bndtools.launch">
    <booleanAttribute key="clean" value="true"/>
    <booleanAttribute key="dynamicBundles" value="true"/>
    <stringAttribute key="launchTarget" value="com.dexels.hazelcast.kubernetes/kubediscover.bndrun"/>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="CLUSTER" value="frankscluster"/>
        <mapEntry key="CLUSTER_USE_DEFAULT_CLASSLOADER" value="true"/>
        <mapEntry key="INSTANCENAME" value="myinstance"/>
        <mapEntry key="NAMESPACE" value="lab-frank"/>
    </mapAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.dexels.hazelcast.kubernetes"/>
    <booleanAttribute key="trace" value="false"/>
</launchConfiguration>
